body {
  margin: 0;
  font-family: 'Oleo Script', cursive;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




header{
  background-color:#fa9191;
  padding: 2rem 2rem;
}